.registerLogo
{
    background: url('../assets/registerScreen.png') no-repeat center center;
    background-size: cover;
    height:100vh;
}

.registerContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerTitle
{
    color:rgb(7, 6, 68);
}






.registerButton {
    background-color: rgb(7, 6, 68);
    align-self: center;
    text-align: center;
    width:200px;
    height:50px;
    white-space: nowrap;
    margin: 100px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  .registerButton::after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .registerButton::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  

  .registerButton:hover::before {
    opacity: 1;
  }
  
  .registerButton:active:after {
    background: transparent;
  }
  
  .registerButton:active {
    color: #000;
    font-weight: bold;
  }

  .role
  {
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-right: 40px;
  }